flutter_components.iml
pubspec.lock
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.dart_tool/dartpad/web_plugin_registrant.dart
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
example/example.iml
example/.dart_tool/package_config.json
example/.dart_tool/package_config_subset
example/.dart_tool/version
example/.dart_tool/dartpad/web_plugin_registrant.dart
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/.filecache
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/app.dill
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/debug_ios_bundle_flutter_assets.stamp
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/debug_universal_framework.stamp
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/debug_unpack_ios.stamp
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/flutter_assets.d
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/gen_dart_plugin_registrant.stamp
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/gen_localizations.stamp
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/kernel_snapshot.d
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/kernel_snapshot.stamp
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/outputs.json
example/.dart_tool/flutter_build/931aade479a0561504c56f0f4f3d6db7/App.framework/App
example/.idea/misc.xml
example/.idea/modules.xml
example/.idea/workspace.xml
example/.idea/libraries/Dart_SDK.xml
example/.idea/libraries/KotlinJavaRuntime.xml
example/.idea/runConfigurations/main_dart.xml
example/android/example_android.iml
example/android/gradlew
example/android/gradlew.bat
example/android/local.properties
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/gradle/wrapper/gradle-wrapper.jar
example/build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
example/build/last_build_run.json
example/build/3203156ad2958bf0c4b3f9b9434aa607/_composite.stamp
example/build/3203156ad2958bf0c4b3f9b9434aa607/gen_dart_plugin_registrant.stamp
example/build/3203156ad2958bf0c4b3f9b9434aa607/gen_localizations.stamp
example/build/ios/Debug-iphonesimulator/.last_build_id
example/build/ios/Debug-iphonesimulator/App.framework/App
example/build/ios/Debug-iphonesimulator/App.framework/Info.plist
example/build/ios/Debug-iphonesimulator/App.framework/_CodeSignature/CodeResources
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/AssetManifest.json
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/FontManifest.json
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/isolate_snapshot_data
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES.Z
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/vm_snapshot_data
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
example/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/shaders/ink_sparkle.frag
example/build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
example/build/ios/Debug-iphonesimulator/Flutter.framework/icudtl.dat
example/build/ios/Debug-iphonesimulator/Flutter.framework/Info.plist
example/build/ios/Debug-iphonesimulator/Flutter.framework/_CodeSignature/CodeResources
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/Flutter.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterAppDelegate.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCallbackCache.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterChannels.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCodecs.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterDartProject.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngine.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngineGroup.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterMacros.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlatformViews.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlugin.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterTexture.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterViewController.h
example/build/ios/Debug-iphonesimulator/Flutter.framework/Modules/module.modulemap
example/build/ios/Debug-iphonesimulator/Runner.app/AppFrameworkInfo.plist
example/build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@2x.png
example/build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
example/build/ios/Debug-iphonesimulator/Runner.app/Assets.car
example/build/ios/Debug-iphonesimulator/Runner.app/Info.plist
example/build/ios/Debug-iphonesimulator/Runner.app/PkgInfo
example/build/ios/Debug-iphonesimulator/Runner.app/Runner
example/build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
example/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
example/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
example/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
example/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
example/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
example/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/shaders/ink_sparkle.frag
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/Flutter.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterAppDelegate.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterBinaryMessenger.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCallbackCache.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterChannels.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCodecs.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterDartProject.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngine.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngineGroup.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterMacros.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlatformViews.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlugin.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterTexture.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterViewController.h
example/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Modules/module.modulemap
example/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.abi.json
example/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
example/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
example/build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
example/build/ios/iphonesimulator/Runner.app/AppFrameworkInfo.plist
example/build/ios/iphonesimulator/Runner.app/AppIcon60x60@2x.png
example/build/ios/iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
example/build/ios/iphonesimulator/Runner.app/Assets.car
example/build/ios/iphonesimulator/Runner.app/Info.plist
example/build/ios/iphonesimulator/Runner.app/PkgInfo
example/build/ios/iphonesimulator/Runner.app/Runner
example/build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
example/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
example/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
example/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
example/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
example/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
example/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES.Z
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
example/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/shaders/ink_sparkle.frag
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/Flutter.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterAppDelegate.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterBinaryMessenger.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCallbackCache.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterChannels.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterCodecs.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterDartProject.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngine.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterEngineGroup.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterMacros.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlatformViews.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPlugin.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterTexture.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Headers/FlutterViewController.h
example/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Modules/module.modulemap
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/Generated.xcconfig
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
